*{
    margin: 0%;
    color: white;
    background-color: yellow;
}
nav{
    height: 10%;
    background-color: black;
    font-weight: 1000;
}
p{
    width: max-content;
    position: relative;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: black;
}
body{
    height: 100vh;
}
button{
    color: yellow;
    border: hidden;
    background-color: black;
    border-radius: 10%;
    margin: 10%;
    font-size: 25px;
    font-weight: 1000;
    height: auto;
    width: auto;
}

.btns{
    column-gap: 0px;
    display: grid;
    grid-template-columns: 50% 50%;
    height: 150px;
}

.loin{
    width: 100%;
  height: auto;
    background-color: black;
}